@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@300;400;700&display=swap');

body {
    text-align: center;
    background-color: antiquewhite;
    background-image: url('/images/bgimg_clouds_pixabay.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Dongle', sans-serif;
    

}

header h1 {
    position: relative;
    top: 30px;
}
header {
    background-color:whitesmoke;
    border-radius:5%;
    width:1000px;
    height:200px;
    font-size:48px;
    margin: 0 auto;
    /* background-image: ; */
}

section {
    margin: 0 auto;
}

footer{
    top: 50px;
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    margin : 90px auto;
    text-align: left;
    font-size : 25px;
    color: gray;
    
}

footer p {
    width: 1000px;
    margin: 10px auto;
}
footer span.labels {
    display: inline-block;
    width: 100px;
}

nav.toLoginPage {
    position: relative;
    background-color: azure;
    border-radius: 10%;
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    right: -800px;
    top: -250px;
    border: solid 2px;
}
nav.toLoginPage:hover{
    background-color: beige;
}

article {
    text-align: left;
}

section article{
    height: 600px;
    width: 1000px;
    height: 550px;
    background-color:aliceblue;
    border-radius: 5%;
    border: solid 1px floralwhite;
    margin: 50px auto;
    font-size: 28px;
}


article.lostArk{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

section div.lostArkWrapper1{
    width: 300px;
    height: 400px;
    border-radius : 25%;
    background-color: beige;
}

div.lostArkWrapper1 ul{
    margin-top : -50px;
}


section article img#lostArk_logo {
    position: relative;
    width: 300px;
    height: 100px;
    bottom: 50px;
    
}

article div.lostArkWrapper1:hover,
article div.lolWrapper1:hover,
article div.hearthStoneWrapper1:hover {
    transform: scale(1.1);
    font-weight : bolder;
}



article.lol{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

section div.lolWrapper1{
    width: 300px;
    height: 400px;
    border-radius : 25%;
    background-color: beige;
}

div.lolWrapper1 ul{
    margin-top : -130px;
}

section article img#lol_logo {
    position: relative;
    width: 300px;
    bottom: 85px;
}




article.hearthStone{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

section div.hearthStoneWrapper1{
    width: 300px;
    height: 400px;
    border-radius : 25%;
    background-color: beige;
}

div.hearthStoneWrapper1 ul{
    margin-top : -130px;
}

section article img#hearthStone_logo {
    position: relative;
    width: 300px;
    height: 180px;
    bottom: 95px; 
}





aside nav ul.navMenu{
    position: fixed;
    right: -100px;
    top : 200px;
    
    width: 150px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside nav ul.navMenu li span{
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    align-items: center;
}


aside nav ul:hover{
    position: fixed;
    right: -45px;
    top : 200px;
    
    width: 200px;
    padding: 0;
    margin: 0 auto;
    
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside nav ul.navMenu li:hover {
    background-color: beige;
}


aside nav ul.navMenu li {
    list-style: none;
    width: 10em;
    height: 9em;
    
    background-color: whitesmoke;
    text-align: center;
    border: solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

aside nav ul.navMenu :first-child{
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

aside nav ul.navMenu :last-child{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}