@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@300;400;700&display=swap');

body {
    text-align: center;
    
    background-color: antiquewhite;
    background-image: url('/images/bgimg_clouds_pixabay.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Dongle', sans-serif;
    

}

header h1 {
    position: relative;
    top: 30px;
}
header {
    background-color:whitesmoke;
    border-radius:5%;
    width:1000px;
    height:200px;
    font-size:48px;
    margin: 0 auto;
    /* background-image: ; */
}

section {
    margin: 0 auto;
}

footer{
    top: 50px;
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    margin : 90px auto;
    text-align: left;
    font-size : 25px;
    color: gray;
    
}

footer p {
    width: 1000px;
    margin: 10px auto;
}
footer span.labels {
    display: inline-block;
    width: 130px;
}


nav.toLoginPage {
    position: relative;
    background-color: azure;
    border-radius: 10%;
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    right: -800px;
    top: -250px;
    border: solid 2px;
}
nav.toLoginPage:hover{
    background-color: beige;
}

article {
    text-align: center;
}

section article{
    height: 600px;
    width: 1000px;
    height: 800px;
    border: solid 2px;
    margin: 25px auto;
    font-size: 30px;
}

#tempDiv{
    width: 1000px;
    height: 400px;
    background-image: url('/images/helloimg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border : 2px solid black;
    margin: 50px auto;
    border-radius: 10%;
}

#navDiv {
    display: flex;
    width:1000px;
    margin: 50px auto;
}

section article.toMyPage{
    width: 300px;
    height: 400px;
    background-image: url('/images/iamimg_unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius : 25%;
}
section article.toHobbyPage{
    width: 300px;
    height: 400px;
    background-image: url('/images/gameimg_pixabay.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius : 25%;
}

section article.toRoadMapPage {
    width: 300px;
    height: 400px;
    background-image: url('/images/stepimg_pixabay.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius : 25%;
}

aside nav ul.navMenu{
    position: fixed;
    right: -100px;
    top : 200px;
    
    width: 150px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside nav ul.navMenu li span{
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    align-items: center;
}


aside nav ul:hover{
    position: fixed;
    right: -45px;
    top : 200px;
    
    width: 200px;
    padding: 0;
    margin: 0 auto;
    
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside nav ul.navMenu li:hover {
    background-color: beige;
}


aside nav ul.navMenu li {
    list-style: none;
    width: 10em;
    height: 9em;
    
    background-color: whitesmoke;
    text-align: center;
    border: solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

aside nav ul.navMenu :first-child{
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

aside nav ul.navMenu :last-child{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

article.toMyPage:hover {
    animation-name: my-ani-rotate;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
article.toHobbyPage:hover {
    animation-name: my-ani-rotate;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
article.toRoadMapPage:hover {
    animation-name: my-ani-rotate;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes my-ani-rotate {
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: translate(0, 0);
    }


}