@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@300;400;700&display=swap');

body {
    text-align: center;
    
    background-color: antiquewhite;
    background-image: url('/images/bgimg_clouds_pixabay.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Dongle', sans-serif;
    

}

header h1 {
    position: relative;
    top: 30px;
}
header {
    background-color:whitesmoke;
    border-radius:5%;
    width:1000px;
    height:200px;
    font-size:48px;
    margin: 0 auto;
    /* background-image: ; */
}

section {
    margin: 0 auto;
}

footer{
    top: 50px;
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    margin : 90px auto;
    text-align: left;
    font-size : 25px;
    color: gray;
    
}

footer p {
    width: 1000px;
    margin: 10px auto;
}
footer span.labels {
    display: inline-block;
    width: 130px;
}

.container {
    width: 600px;
    height: 700px;
    background-color: whitesmoke;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
[name=signupFrm] {
    width: 600px;
    height: 700px;
    font-size : 27px;
    background-color: white;
    border: 4px solid lightgray;
    padding: 20px 20px 5px 20px;
}

table {
  border-collapse: collapse;
}  

th {
  width: 110px;
  text-align: left;
  padding: 5px 0 0 5px;
  height: 40px;
}

td {
  position: relative;
}

input {
    width: 370px;
    height: 25px;
    border: none;
    background-color: beige;
    border : 1px solid rgb(0, 0, 0);
    
    margin : 20px;
}
input:focus {
  outline: none;
}
input[type=submit] {
    margin-top: 30px;
    border: none;
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: burlywood;
    font-weight: bolder;
}
input#email1, input#email2 {
    width: 150px;
}

input#address {
    margin-top: 13px;
}

.msg {
  position: absolute;
  margin-top : -20px;
  margin-left: 20px;
  font-size: 20px;
  display: none;
}
.msg-required {
  color: red;
}
.msg-password, .msg-name {
  color: rgb(127, 127, 127);
}




nav.toLoginPage {
    position: relative;
    background-color: azure;
    border-radius: 10%;
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    right: -800px;
    top: -250px;
    border: solid 2px;
}
nav.toLoginPage:hover{
    background-color: beige;
}







aside nav ul.navMenu{
    position: fixed;
    right: -100px;
    top : 200px;
    
    width: 150px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside nav ul.navMenu li span{
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    align-items: center;
}


aside nav ul:hover{
    position: fixed;
    right: -45px;
    top : 200px;
    
    width: 200px;
    padding: 0;
    margin: 0 auto;
    
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside nav ul.navMenu li:hover {
    background-color: beige;
}


aside nav ul.navMenu li {
    list-style: none;
    width: 10em;
    height: 9em;
    
    background-color: whitesmoke;
    text-align: center;
    border: solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

aside nav ul.navMenu :first-child{
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

aside nav ul.navMenu :last-child{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}